.carousel-img {
    width: 60%;
    height: 92%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  